*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{
    height: 100%;
    /* overflow-x: hidden */   
}

.FirstPage
{
        background: linear-gradient(360.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 1000%);
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
}

.Header
{
    width: 100%;
    position: relative;
    padding: 20px 5%;
}

.head-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3
{
    color: #e6533c;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 1%;
    text-align: left;
}

nav ul
{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

nav ul li 
{
    list-style: none;
    margin: 0px 15px;
}

nav button
{
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Inter',sans-serif;
    padding: 10px 15px;
    /* cursor":pointer */
}

.btn-home
{
    background-color: #e6533c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.con-con
{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.para
{
    width: 720px;
    height: 48px;
    opacity: 0.7;
    color: rgba(255,255,255,0.5);
}

header h2
{
    color: #fff;
    font-family: 'Inter',sans-serif;
    font-size: 64px;
    font-weight: 800;
    line-height: 1.2;
    margin: 10px 0;
}

.style-span
{
    font-family: 'Miama';
    font-weight: 900;
    font-size: 78px;
    font-style: italic;
    color: #fff;
    font-size: 64px;
}

header p
{
    color: rgba (255,255,255,0.5);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-top: 20px;
}

.butt-con
{
    margin-top: 30px;
}

.join-butt, .down-butt
{
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    font-family:'Inter', sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.join-butt
{
    background-color: #e6533c;
    color: #fff;
    margin-right: 15px;
}

.down-butt
{
    background-color: #000;
    color: #fff;
    border: 1px solid #e6533c;
}

.img-con
{
    flex:1;
    min-width: 300px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.img-con img
{
    max-width: 100%;
    height: auto;
}

.stats-con
{
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 200px;
    z-index: 1;
    margin-right: 20%;
}

.stat-item
{
    backdrop-filter: blur (20px);
    background: rgba(255,255,255,0.1);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    min-width: 120px;
}

.stats-con
{
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 200px;
    z-index:1;
    margin-right: 20%;
}

.stat-item
{
    backdrop-filter: blur(20px);
    background: rbga(255,255,255,0.1);
    padding: 15px;
    border-radius:10px;
    text-align: center;
    align-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    min-width: 120px;
}

.one
{
    position: relative;
    top: -25px;
    right: -225px;
}

.two
{
    position: relative;
    top: -50px;
    right: 100px;
}

.stat-item span
{
    font-size: 36px;
    font-weight: 900;
    display: block;
}

.stat-item p
{
    font-size: 18px;
    color: rbga(255,255,255,0.7);
    text-align: center;
    margin: 0;
}

.Font-Fam
{
    font-family: 'Inter', sans-serif;
}

.c-h-con
{
    background-color: #000;
    width: 100%;
    padding-top: 50px;
    height: 100vh;
    box-sizing: border-box;
}

.c-h-h2
{
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-family: 'Inter',sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}

.c-h-p
{
    color: rgba(255,255,255,0.5);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-top: 2%;
    text-align: center;
}

.exer-num 
{
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 30px;
}
.exer-name
{
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}
.exer-card 
{
    width: 240px;
    height: 240px;
    border-radius: 8px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.exer-img
{
    border-radius: 100px;
}
.exer-con 
{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-left: 5%;
}

.exer-icon 
{
    margin-right: 16px;
}

section
{
    background-color: #000;
    display: flex;
    justify-content: center;
}

.r-e-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 90%;
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
}

.r-e-content
{
    flex: 1;
    padding-right: 20px;
}

.r-e-h2
{
    color: #fff;
    font-family:'Inter',sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15px;
}

.r-e-p
{
    color: rgba(255, 255, 255, 0.7);
    font-family:'Inter',sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.r-e-btn
{
    background-color: #e6533c;
    color: #fff;
    padding: 15px 30px;
    border-radius: 25px;
    font-family:'Inter',sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

.r-e-img
{
    flex: 1;
    display: flex;
    justify-content: center;
}

.r-e-img img
{
    max-width: 100%;
    border-radius: 15px;
    object-fit: fill;
    height: auto;
}

.yttxt-content h3
{
    margin-top: 100px;
    color: #fff ;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.yttxt-content p
{
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
    text-align: center;
}

.yt-container
{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    box-sizing: border-box;
}

.bmi
{
    background-color:#333;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bmi-container
{
    text-align: center;
}

.bmi-h1
{
    font-size: 3rem;
    margin-bottom: 10px;
}

.bmi-p
{
    font-size: 1.2rem;
    margin-bottom: 30px;
    opacity: 0.5;
}

.bmi-calculator
{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.bmi-chart, .bmi-form
{
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
}

.bmi-h2
{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.bmi-p2
{
    opacity: 0.5;
}
.bmi-table
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,td
{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
    opacity: 0.5;
}

form
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 34px;
}

input
{
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
}

.bmi-btn
{
    margin-top: 20px;
    padding: 15px;
    background-color: #e6533c;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.bmi-grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
section
{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.m-t-container
{
    max-width: 1200px;
    width: 90%;
    text-align: center;
}

.m-t-content
{
    margin-bottom: 30px;
}

.m-t-h2 {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
  }
  
  .m-t-p {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 40px;
    letter-spacing: 0.5px;
  }


.m-t-img-box
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.m-t-img
{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.m-t-img img
{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    height: 100%;
    transition: 0.5s ease;
}

.t-info
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: 'Inter', sans serif;
    text-align: left;
}

.t-info p
{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 2px;
}

.t-info span
{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

footer
{
    background-color: #111;
    color: white;
    padding: 50px 5%;
    font-family:'Inter', sans serif;
}

.foot-con
{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.foot-left
{
    max-width: 400px;
    margin-left: 10%;
}

.foot-left h3
{
    color: #e6533c;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
}

.foot-left p
{
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.7);
    line-height: 24px;
}

.foot-right
{
    display: flex;
    gap: 200px;
    margin-right: 15%;
}

.foot-col h4
{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.foot-col ul
{
    font-family: 'Inter', sans-serif;
    list-style: none;
    padding: 0;
}

.foot-col ul li
{
    margin-bottom: 10px;
}

.foot-col ul li a
{
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s;
}

.foot-col ul li a:hover
{
    color: white;
}

@media screen and (max-width:435px) 
{
    body
    {
        width: 576px;
    }
    .head-content
    {
        /* flex-direction: column; */
        display: flex;
        align-items: center;
    }

    .FirstPage
    {
        background:linear-gradient(360.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 900%);
        /* width: 576px ; */
        height: 150vh;
        position: relative;
        overflow: hidden;
        /* margin-left: 10px; */
    }

    .mob-h3
    {
        font-size: 64px;
        margin-top: 52px;
    }

    .mob-ul
    {
        /* visibility: hidden; */
        display: none;
    }
    nav ul
    {
        flex-direction: column;
        align-items: center;
    }

    nav ul li
    {
        margin: 10px 0;
    }

    .con-con
    {
        flex-direction: column;
        text-align: left;
        align-items: center;
        margin-top: 51px;
        margin-left: 200px;
    }

    .text-con
    {
        margin-right: 390px;
        width: 475px;
    }

    .para
    {
        font-size: 24px;
        width: 475px;
        height: 96px;
        margin-top: 28px;
        margin-bottom: 28px;
    }

    .butt-con
    {
        margin-top: 100px;
        width: 475px;
        height: 100px;
        display: flex;
        flex-direction: row;
        /* justify-content: space-between; */
        justify-items: center;
        margin-left: 25px;
    }

    .join-butt, .down-butt
    {
        width: 475px;
        height: 100px;
        font-size: 36px;
    }

    .img-con
    {
        margin-bottom: 20px;
        margin-right: 250px;
        margin-top: 48px;
    }
    
    .stats-con
    {
        position: static;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        margin-right: 0;
    }

    .stat-item
    {
        position: relative;
    }

    .one
    {
        position: relative;
        top: -500px;
        right: -150px;
        left: 250px;
    }

    .two
    {
        position: relative;
        top: -350px;
        right: 250px;
    }

    .yt-container
    {
        width: 400px;
        height: 250px;
    }

    .exer-con
    {
        /* flex-direction: column; */
        grid-template-columns: 1fr;
    }

    .bmi-calculator
    {
        flex-direction: column;
    }







}
